@font-face {
	font-family: 'Conv_Frisky_Wind';
	src: url('../fonts/Frisky_Wind.eot');
	src: local('☺'), url('../fonts/Frisky_Wind.woff') format('woff'), url('../fonts/Frisky_Wind.ttf') format('truetype'), url('../fonts/Frisky_Wind.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
