@import "vars";
*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
}
ul,li,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
html{
  scroll-behavior: smooth;
}


.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.holder__title{
  font-family: 'Conv_Frisky_Wind';
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 50px;
  &::before {
    content: '';
    position: absolute;
    left: 38%;
    bottom: 22px;
    width: 24%;
    height: 10px;
    z-index: -1;
    background: $colorLine;
    border-radius: 4px;
}
}
  


/* =================SCORLLBAR================= */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0,0,0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}