*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
}
ul,li,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}


.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.holder__title{
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  
}