@import "libs";
@import "fonts";
@import "global";
@import "vars";

/* =====================================Portfolio===================================== */
.portfolio{
  position: relative;
  padding: 60px 0 100px 0;
 background-color: $accent2;
 font-size: 32px;
 &::before{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: $accent;
  clip-path: polygon(100% 100%,0 10%,0 100%);
}
}

/* ======CARD==== */
.card {
  position: relative;
  z-index: 1;
  text-align: center;
  margin:20px 15px;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: 13px 7px 32px 2px rgba(0,0,0,.77);
  &:hover{
    z-index: 111;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(#000, 0.5);
  }
}

.card {
  .card__img-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.card:hover{
  .card__img-box{
    transform: rotateY(-135deg);
  }
}

.box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

 .card-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #000;
}
.card-detail__title{
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0;
}

.portfolio__card-inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


/* ===========LINKS=========== */
.portfolio__item-link{
 display: inline-block;
 position: relative;
 font-size: 14px;
 font-family: 'Open Sans';
 color: $btnclr;
 text-transform: uppercase;
 letter-spacing: 2px;
 overflow: hidden;
 padding: 12px 26px;
 transition: 0.3s;
 border: 1px solid $btnclr;
 text-align: center;
 margin-bottom: 20px;
 &:hover{
   .line--top{
     transition: 0.3s;
     transition-delay: 0.15s;
     left: 100%;
   }
 }
 &:hover{
   .line--right{
     transition: 0.3s;
     top: 100%;
     transition-delay: 0.3s;
   }
 }
 &:hover{
   .line--bottom{
     transition: 0.3s;
     right: 100%;
     transition-delay: 0.4s;
   }
 }
 &:hover{
   .line--left{
     transition: 0.3s;
     bottom:  100%;
     transition-delay: 0.5s;
   }
 }
}

.portfolio__item-link{
 &:hover{
   border-color: transparent;
   box-shadow: 0 0 10px $btnclr, 0 0 40px $btnclr, 0 0 80px $btnclr;
   background-color: $btnclr;
   color: #fff;
   transition-delay: 0.5s;
 }
}


.portfolio__link-line{
 position: absolute;
 display: block;
}
.line--top{
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, $btnclr);
}
.line--bottom{
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(270deg, transparent, $btnclr);
}

.line--left{
 bottom: -100%;
 left: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(0deg, transparent, $btnclr);
}

.line--right{
 top: -100%;
 right:  0;
 width: 2px;
 height: 100%;
 background: linear-gradient(0deg, transparent, $btnclr);
}
.portfolio__link-wrap{
  display: flex;
  flex-direction: column;
}
.portfolio__svg-icon1{
  position: absolute;
  width: 190px;
  top: -15%;
}
.portfolio__svg-icon2{
  position: absolute;
  width: 190px;
  bottom: -10%;
  right: 0;
}